<%= form_with(model: machine, local: true) do |form| %>
  <% if machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
        <% machine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py-5">
    <%= form.label :Nome %>
    <%= form.text_field :name, class: 'focus:outline-none focus:ring focus:border-azul rounded-sm' %>
  </div>

  <div class='py-5'>
    <%= form.label :Status, class: '' %>
    <%= form.select :state, [['Disponível', 'disp'], ['Ocupado', 'ocup'], ['Em manutenção', 'manut']], class: 'focus:outline-none focus:ring focus:border-azul rounded-sm'%>
  </div>

  <div class='flex flex-row justify-between pt-4'>
    <button class='btn'><%= link_to 'Voltar', machines_path %></button>
    <button class='btn'><%= link_to 'Submeter', form.submit %></button>
</div>
<% end %>
