<%= render "layouts/navbar" %>

<div class='flex flex-col w-full justify-center items-center bg-gray-200 py-20'>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @machine.name %>
    </p>
    
    <p>
      <strong>State:</strong>
      <%= @machine.state %>
    </p>

    <div class='flex flex-row justify-between pt-4'>
      <button class='btn'><%= link_to 'Voltar', machines_path %></button>
      <button class='btn'><%= link_to 'Editar', edit_machine_path(@machine) %></button>
    </div>
</div> 

<%= render "layouts/footer" %>

