<div class="flex flex-col bg-home bg-opacity-20 max-h-full z-10" x-data='{ signedIn: <%= user_signed_in? %>}'>

    <!-- Menu central  -->
    <div class="box">
        <p class='titulo-central'>Título Imponente</p>
        <p class='subtitulo-central'>SUBTÍTULO BOM DEMAIS DA CONTA BEM SUAVE NA VISTA</p>
        <!-- Botões centrais aluno-->
        <% if user_signed_in? %>
            <% puts current_user.role %>
            <% if current_user.role == 'aluno' %>
            <div class='flex-row bg-white bg-opacity-40 rounded-xl p-4'>
                <button class='btn mx-3'>
                    <a href='/machines'>Agendar horário</a>
                </button>
                <button class='btn mx-3'>
                    <a href='/machines'>Meus agendamentos</a>
                </button>
            </div>
        <!-- Botões centrais admin/professor/técnico-->
            <% else %>
            <div class='flex-row bg-white bg-opacity-40 rounded-xl p-4'>
                <button class='btn mx-3'>
                    <a href='/machines'>Atualizar status das máquinas</a>
                </button>
                <button class='btn mx-3'>
                    <a href='/machines'>Botao</a>
                </button>
                <button class='btn mx-3'>
                    <a href='/machines'>Ver agendamentos</a>
                </button>
            </div>
            <% end %>
        <% end %>
    </div>

    <nav class="fixed w-full bg-white md:bg-transparent transition ease-linear duration-300" id="nav">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-20">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <!-- Logo -->
            <div class="flex-shrink-0 h-14 py-3">
                <a href="javascript: void(0);" class="hidden md:block transition ease-linear duration-300" id="logo-white">
                    <%= image_pack_tag 'media/img/usp-branco.png', size: '250x45', alt: 'USP-logo' %>
                </a>
                <a href="javascript: void(0);" class="md:hidden transition ease-linear duration-300" id="logo-black">
                    <%= image_pack_tag 'media/img/usp-preto.png', size: '250x45', alt: 'USP-logo' %>
                </a>
            </div>
            </div>
            <div class="hidden md:block">

            <div class="ml-4 flex flex-row items-center md:ml-6 transition ease-linear duration-300">
                <!-- Logado como (email) não mobile -->
                <p class='text-white font-semibold pr-5' x-show='signedIn' id="logado-como">Logado como <%= current_user.try(:email) %></p>
                <!-- Botão de login/logout não mobile -->
                <button class="btn">
                    <a href="../users/sign_in" class="font-medium" x-show='!signedIn'>
                        <i class="fas fa-sign-in-alt fa-sm white"></i>
                        Acessar
                    </a>
                    <div x-show='signedIn'>
                        <i class="fas fa-sign-out-alt fa-sm white"></i>
                        <%= link_to "Sair", destroy_user_session_path, method: :delete %>
                    </div>
                </button>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <div class="fixed my-16 w-full bg-yellow-500 flex flex-row items-center justify-between md:hidden shadow-md transition ease-linear duration-500">
        <!-- Logado como (email) mobile -->
        <p class='float-left text-white pl-4' x-show='signedIn'>Logado como <%= current_user.try(:email) %></p>
        <!-- Botão de login/logout mobile -->
        <button class="flex-grow font-medium py-0.5 px-8 rounded-md text-white focus:outline-none mx-auto">
            <a href="../users/sign_in" x-show='!signedIn'>
                <i class="fas fa-sign-in-alt fa-sm white"></i>
                Acessar
            </a>
            <div class='float-right' x-show='signedIn'>
                <i class="fas fa-sign-out-alt fa-sm white"></i>
                <%= link_to "Sair", destroy_user_session_path, method: :delete %>
            </div>
        </button>
    </div>

</div>

<script type="text/javascript">

    var logado = document.getElementById('logado-como')
    var logo_w = document.getElementById('logo-white')
    var logo_b = document.getElementById('logo-black')
    var nav = document.getElementById('nav');
    var sticky = nav.offsetTop;

    window.onscroll = function(){
        if (window.pageYOffset > sticky) {
            nav.classList.add('scroll');
            nav.classList.remove('md:bg-transparent');
            logo_w.classList.remove('md:block');
            logo_b.classList.remove('md:hidden');
            logado.classList.add('text-yellow-500');
        }
        else {
            nav.classList.remove('scroll');
            nav.classList.add('md:bg-transparent');
            logo_w.classList.add('md:block');
            logo_b.classList.add('md:hidden');
            logado.classList.remove('text-yellow-500');
    }
}
</script>