<!DOCTYPE html>
<html>
  <head>
    <title>OficinaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
  </head>
  <body>
    <%= yield %>
=======
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  </head>

  <body class="flex flex-col h-screen justify-between overflow-y-scroll">
    <%= render "layouts/navigation" %>
    <main class="w-full mx-auto flex-grow">
      <%= render "layouts/main" %>
    </main>
    <%= render "layouts/footer" %>
>>>>>>> 335f6d738551126fb3477fad00910c6abff3fc9b
  </body>
</html>
