<%= render "layouts/navbar" %>

<div class='w-full bg-gray-200 py-20 flex flex-col justify-center items-center'>
  <div class='max-w-xl flex flex-col justify-center items-center'>
      <div>
          <p class='titulo'>Agendamentos</p>
      </div>

      <table class='tabela'>
        <thead>
          <tr>
            <th class='px-3'>Data</th>
            <th class='px-3'>Projeto</th>
            <th class='px-3'>Maquina</th>
            <th class='px-3'>Estado</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @formulario_certos.each do |formulario_certo| %>
            <tr>
              <td><%= formulario_certo.data %></td>
              <td><%= formulario_certo.nome_projeto %></td>
              <td><%= formulario_certo.maquina %></td>
              <td><%= formulario_certo.estado %></td>
              <td><button class='btn'><%= link_to 'Detalhes', formulario_certo %></button></td>
              <% if current_user.role != 'aluno' %>
              <td><button class='btn'><%= link_to 'Editar', edit_formulario_certo_path(formulario_certo) %></button></td>
              <td><button class='btn'><%= link_to 'Apagar', formulario_certo, method: :delete, data: { confirm: 'Você tem certeza?' } %></button></td>
              <% end%>
            </tr>
          <% end %>
        </tbody>
      </table>

    <div class='pt-5'>
        <button class='btn'>
            <a href="/">Voltar</a>
        </button>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
